<html>
<head> </head>
<body>
    <h1> Error </h1>
    <span> Invalid parameters </span>
    <ul>
        <li> The true and false symbols must be single characters </li>
        <li> The true and false symbols must be distinct from one another </li>
        <li> Size must be an integer >= 2 </li>
    </ul>
    <br>
    <a href="/"> Back to main page </a>
</body>
</html>