<html>
<head> </head>
<body>
    <form method="post">
        Truth symbol: <br>
        <input type="text" name="truth_symbol"> <br>
        False symbol: <br>
        <input type="text" name="false_symbol"> <br>
        Size (2^x): <br>
        <input type="text" name="size"> <br>
        <input type="submit" value="Show  truth table">
    </form>
    <br>
    <a href="/"> Back to main page </a>
</body>
</html>